form {
    display: block;
    @include blockCenter(10%, 60%);
    margin-top: $frmMargTop;
    h3 {
        text-align: center;
    }
    input {
        display: block;
        @include blockCenter(0, 30%);
    }
    p {
        text-align: center;
        font-weight: bold;
        color: $errMsgFntColor;
    }
}
.ng-invalid.ng-touched {
    border: 1px solid $errMsgBrdrColor;
}
.ng-submitted .ng-empty {
    border: 1px solid $errMsgBrdrColor;
}
