form {
    display: block;
    @include blockCenter(10%, 60%);
    margin-top: 3%;
    h3 {
        text-align: center;
    }
    input {
        display: block;
        @include blockCenter(0, 30%);
    }
    p {
        text-align: center;
        font-weight: bold;
        color: #ff5555;
    }
}
.ng-invalid.ng-touched {
    border: 1px solid red;
}
.ng-submitted .ng-empty {
    border: 1px solid red;
}
