h1 {
    text-align: center;
    font-size: $headFontSize;
    margin-bottom: $headMargBot;
}
nav {
    @include blockCenter(0, 30%);
    button {
        float: left;
        @include blockCenter(0, 50%);
        margin-bottom: $buttMrgBottom;
        font-size: $buttFontSize;
        font-weight: bolder;
        color: #000000;
        text-align: center;
        position: relative;
        &:nth-child(even) {
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-image: url('https://flagspot.net/images/g/gb.gif');
                opacity: $butBckgrnOpacity;
                margin-bottom: $buttMrgBottom;
            }
        }
        &:nth-child(odd) {
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/US_flag_48_stars.svg/220px-US_flag_48_stars.svg.png');
                opacity: $butBckgrnOpacity;
                margin-bottom: $buttMrgBot;
            }
        }
    }
}
.new-item {
    display: block;
    color: $NewItemButtColor;
    @include blockCenter(10%, 15%);
    border: 1px solid $NewItemButtColor;
    text-align: center;
    padding: $newItemPadding;
    margin-bottom: 0;
    &:hover {
        color: $NewItemButtColorHove;
        border: 1px solid $NewItemButtColorHove;
        background-color: $NewItemButtColor;
    }
}
header {
    position: relative;
     p {
        text-align: center;
        font-weight: bold;
        margin: 3% 0;
        &:nth-child(3n + 1) {
            color: $errMsgFntColor;
        }
    }
    .logout {
        text-align: center;
        border: 1px solid $logoutBordColor;
        color: $logoutFontColor;
        @include blockCenter(0, 15%);
        position: absolute;
        top: 8%;
        right: 0;
    }
    form {
        margin-bottom: 0;
    }
}
