h1 {
    text-align: center;
    font-size: $headFontSize;
    margin-bottom: $headMargBot;
}
nav {
    @include blockCenter(0, 30%);
    button {
        float: left;
        @include blockCenter(0, 50%);
        margin-bottom: $buttMrgBot;
        font-size: $buttFontSize;
        font-weight: bolder;
        color: #000000;
        text-align: center;
        position: relative;
        &:nth-child(even) {
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-image: url('https://flagspot.net/images/g/gb.gif');
                opacity: 0.2;
                margin-bottom: 5%;
            }
        }
        &:nth-child(odd) {
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/US_flag_48_stars.svg/220px-US_flag_48_stars.svg.png');
                opacity: 0.2;
                margin-bottom: 2%;
            }
        }
    }
}
.new-item {
    display: block;
    color: #000000;
    @include blockCenter(10%, 15%);
    border: 1px solid black;
    text-align: center;
    padding: 1%;
    margin-bottom: 0;
    &:hover {
        color: #ffffff;
        border: 1px solid white;
        background-color: #000000;
    }
}
header {
     p {
        text-align: center;
        font-weight: bold;
        margin: 3% 0;
        &:nth-child(3n) {
            color: #ff5555;
        }
    }
    form {
        margin-bottom: 0;
    }
}
