//HEADER\\
$headFontSize: 3em;
$headMargBot: 2%;
$buttMrgBottom: 5%;

//NAV\\
$buttMrgBot: 10%;
$buttFontSize: 1.5em;

//TABLE||
$Tborder: 2px solid #000000;
$TbackColor: #eeeeee;
$TmrgBottom: 5%;

//FORM\\
$frmMargTop: 3%;

//NEW-ITEM-FORM\\
$newItemPadding: 1%;


//COLORS\\
$errMsgFntColor: #ff5555;
$errMsgBrdrColor: #ff5555;
$butBckgrnOpacity: 0.2;
$NewItemButtColor: #000000;
$NewItemButtColorHove: #ffffff;
$logoutBordColor: #666666;
$logoutFontColor: #666666;
