<!DOCTYPE html>
<html ng-app='shop'>
    <head>
        <meta charset="utf-8">
        <title>Shopular</title>

        <link href='css/styles.css' type='text/css' rel='stylesheet'>

        <style>
            .ng-invalid.ng-touched {
                border: 1px solid red;
            }
            /*.ng-invalid-required {
                border: 1px solid red;
            }*/
            </style>

    </head>
    <body ng-controller='inventoryController as stock'>

        <header>
            <h1>Shopular Inventory</h1>
            <nav>
                <button ng-click='stock.customer(false); uk=""'>US</button>
                <button ng-click='stock.customer(true); uk="uk"'>UK</button>
            </nav>
            <button ng-click='stock.showForm(true)'>Add New Item</button>
        </header>


        <main ng-hide='stock.formShow'>
            <table ng-class='uk'>
                <thead>
                    <tr>
                        <th ng-click='orderBy("names")'>Item</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th ng-hide='stock.uk === true'>Color</th>
                        <th ng-hide='!stock.uk'>Colour</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='item in stock.inventory | orderBy:"price"'>
                        <td >{{ stock.getName(item) }}</td>
                        <td>{{ stock.getPrice(item) | currency: stock.currency }}<img ng-show='item.discount > 0' src='https://tiy-learn-content.s3.amazonaws.com/98350f05-sale_2.png'></td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.color }}</td>
                    </tr>
                </tbody>
            </table>
        </main>

        <form novalidate name='addItem' ng-hide='!stock.formShow' ng-submit='addItem.$valid && !stock.itemAdd(stock.newItem) && stock.showForm(false)'>
            <h3>Add New Item</h3>
            <p ng-show='addItem.item.$touched && !addItem.item.$valid'>Need an Item</p>
            <p ng-show='addItem.price.$touched && !addItem.price.$valid'>Need a Price</p>
            <p ng-show='addItem.quanity.$touched && !addItem.quanity.$valid'>Need a Quantity</p>
            <p ng-show='addItem.color.$touched && !addItem.color.$valid'>Need a Color</p>
            <p ng-show='addItem.discount.$touched && !addItem.discount.$valid'>Need a Discount</p>



            <input type='text' name='item' placeholder='Item' required ng-model='stock.newItem.name'>
            <input type='text' name='price' placeholder='Price' required ng-model='stock.newItem.price'>
            <input type='text' name='quanity' placeholder='Quanity' required ng-model='stock.newItem.quantity'>
            <input type='text' name='color' placeholder='Color' required ng-model='stock.newItem.color'>
            <input type='text' name='discount' placeholder='Discount' required ng-model='stock.newItem.discount'>
            <input type='submit'>
        </form>

        <footer>
            <h2>&copy Shopular Technologies</h2>
        </footer>

        <script src='js/app.js'></script>
    </body>
</html>
